* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

label {
  font-weight: bold;
  display: block;
  color: #494949;
}

input {
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #494949;
  width: 100%;
  display: block;
  margin: 1rem 0;
  background-color: whitesmoke;
}

input:focus {
  outline: none;
  border-color: #ff0062;
}

button {
  font: inherit;
  border: 1px solid #ff0062;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #ff0062;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ff3482;
  border-color: #ff3482;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: whitesmoke;
}

.inline-controls {
  display: flex;
}

.control {
  margin: 1rem;
}

#user-input,
#movie-list,
#filter {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

#movie-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

#movie-list.visible {
  display: block;
}

#movie-list li {
  margin: 1rem;
  color: #ff0062;
  font-weight: bold;
  font-size: 1.5rem;
}
